.container{
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(231, 230, 230);
    position: absolute;
    top:15%;
    bottom: 10%;
    left: 5%;
    right: 5%;
    background-color: rgb(254, 255, 7);
    border-radius: 24px;
    padding: 0px;

}

.right-side {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 24px 24px 0;
    background-image: url(../../assets/img/fenerbahce.jpg);
  }

.left-side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-form{
    display: flex;
    flex-direction: column;
    width: 25rem;
}


.register-text{
    align-self: end;
    font-size: 12px;
    cursor: pointer;
}

.register-text:hover{
    color:blue;
}


.field-form-item{
  width: 90%;
  margin-left: 8px;
  margin-right: 8px;
}

.f-row{
  display: flex;
  flex-direction: row;
}

@media screen and (max-width:600px) {
  .left-side{
    width: 100%;
    height: 100vh;
  }

  .right-side{
    width: 0%;
    background-image: none;
  }
  
}

/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-item {
  padding: 20px;
  border: 1px solid #ccc;
}*/



/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.grid-item {
  padding: 20px;
  border: 1px solid #ccc;
}
 */
 /*
 .container {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(165, 153, 153);
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 5%;
    right: 5%;
    background-color: rgb(145, 94, 94);
  
    border-radius: 24px;
  }
  .left-side {
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px 0 0 24px;
    background-image: url(../../assets/img/resim.jpg);
  }
  .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .field-form {
    display: flex;
    flex-direction: column;
  }
  .register-text {
    align-items: end;
    cursor: pointer;
    font-size: 12px;
  }
  .register-text:hover {
    color: blue;
  }
  */